/*General Page Layout*/
/*CSS Reset*/
a, body, div, footer, h1, h2, h3, h4, h5, h6, img, p, table, td, tr {
  margin: 0 auto;
  padding: 0;
}
@font-face {
  font-family: 'Hero Light';
  src: url('Hero Light.otf') format('opentype');
}
p {
  cursor: default;
}
body {
  font-family: 'Hero Light', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
}
/*Link Styling*/
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}
/*Contains Periodic Table*/
#ptablecontainer {
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100vh;
  position: relative;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.perspective {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
}
#elecontainer {
  overflow: hidden;
}

/*Info Page*/
/* Close Button for InfoContainer*/
#closewindow {
  text-align: right;
  padding: 1%;
  width: 20px;
  color: white;
  height: 4vh;
  float: right;
  cursor: pointer;
  transition-duration: 0.1s;
  font-size: 1.6em;
  text-align: center;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#closewindow:hover {
  color: #b1b1b1;
}
#infocontainer {
  height: 100vh;
  overflow: auto;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  background-color: black;
  min-height: 100%;
  font-size: 16px;
  margin-left: -9999px;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#elementcontent {
  padding-top: 5vh;
  padding-bottom: 2vh;
}
#symbol-large {
  font-size: 25vmin;
  cursor: default;
  text-shadow: 3px 3px 20px #fff;
  text-align: left;
  margin: 0 auto;
  padding: 10vmin;
  text-align: center;
}
#infocontainer p {
  padding: 0 5vw;
  text-align: left;
}
#infocontainer #references {
  margin: 2vh 0;
}
#infocontainer #elementcontent td {
  text-align: left;
  padding: 2px;
  cursor: default;
  word-wrap: break-word;
}
#info-table {
  padding-bottom: 2vh;
  word-wrap: break-word;
}
#description {
  margin-top: 3vh;
}
#references {
  word-wrap: break-word;
}
#weblinks {
  padding: 2vh 0;
}
#weblinks a {
  padding: 1vh 2vw;
  cursor: pointer;
  display: inline-block;
  color: #4188ad;
}
#weblinks p {
  display: inline;
}
#pageturn {
  width: 100%;
  padding: 0 5vw;
}
#pageturn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#pageturn a {
  display: inline;
  cursor: pointer;
  color: #4188ad;
}
#pageturn #next {
  text-align: right;
  float: right;
}

/*Element Styling Start*/
.element {
  position: absolute;
  display: block;
  padding: 10px 3.5px;
  cursor: pointer;
  /*The hand cursor*/
  background-color: rgba(21, 191, 222, 0.25);
  width: 51px;
  height: 48px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.elementname {
  font-size: 7px;
}
.elementmass {
  font-size: 9px;
}
.elementsymbol {
  font-size: 22px;
}
.elementnumber {
  font-size: 7px;
}

/* Horizontal Description Start*/
#eledes {
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: black;
  font-size: 16px;
  height: 0;
  overflow: hidden;
}
#eledes > #elementturn {
  color: #4188ad;
  width: 100%;
  margin: 0;
  padding: 2vh;
}
#eledes #eledesinfo {
  padding: 2vh 4vw;
  font-size: 2vmin;
}
#eledes a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Footer*/
footer {
  position: absolute;
  top: 3vh;
  width: 100%;
  text-align: center;
  pointer-events: all;
  z-index: 1;
}
footer>#github, footer>#info {
  cursor: pointer;
  pointer-events: all;
}
/* Footer Text */
footer a, footer p {
  display: inline-block;
  font-size: 2vmin;
  margin: 0 2vw;
}
footer > #formcontainer {
  display: block;
  height: 0;
  margin-top: 1.2vh;
}
footer > #formcontainer > div {
  pointer-events: all;
  display: inline-block;
  cursor: pointer;
  font-size: 1.6vmin;
  height: 5vh;
  width: 15%;
  background-repeat: no-repeat;
  background-position: 1vmin center;
  background-size: 3vmin;
  line-height: 5vh;
  margin: 0 0.5vw;
  transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
}
footer > #formcontainer > div:hover {
  color: #4188ad;
}
footer > #formcontainer > #tableform {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IlRhYmxlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MjQgOTI0Ij48cGF0aCBmaWxsPSIjMTAxODNhIiBkPSJNMCAwaDM5OHYzOThIMHoiLz48cGF0aCBmaWxsPSIjMGQ0ODEwIiBkPSJNNTI2IDBoMzk4djM5OEg1MjZ6Ii8+PHBhdGggZmlsbD0iIzNlM2YxMiIgZD0iTTAgNTI2aDM5OHYzOThIMHoiLz48cGF0aCBmaWxsPSIjNDAwYTBlIiBkPSJNNTI2IDUyNmgzOTh2Mzk4SDUyNnoiLz48L3N2Zz4=);
}
footer > #formcontainer > #movingform {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MjQgOTI0Ij48cGF0aCBmaWxsPSIjNDAwYTBlIiBkPSJNMTAgNTE0aDQxMHY0MTBIMTB6Ii8+PHBhdGggZmlsbD0iIzNlM2YxMiIgZD0iTTM2OSAzNzNoNDA4djQwOEgzNjl6Ii8+PHBhdGggZmlsbD0iIzEwMTgzYSIgZD0iTTAgMTRoNDA5djQwOUgweiIvPjxwYXRoIGZpbGw9IiMwZDQ4MTAiIGQ9Ik01MTIgMGg0MTJ2NDEySDUxMnoiLz48L3N2Zz4=);
}
footer > #formcontainer > #horizontalform {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5MjAuNDcgMjA3Ij48cGF0aCBmaWxsPSIjMTAxODNhIiBkPSJNMCAxaDIwNnYyMDZIMHoiLz48cGF0aCBmaWxsPSIjMGQ0ODEwIiBkPSJNMjM4LjQ3IDBoMjA2djIwNmgtMjA2eiIvPjxwYXRoIGZpbGw9IiMzZTNmMTIiIGQ9Ik03MTQuNDcgMWgyMDZ2MjA2aC0yMDZ6Ii8+PHBhdGggZmlsbD0iIzQwMGEwZSIgZD0iTTQ3Ni40NyAwaDIwNnYyMDZoLTIwNnoiLz48L3N2Zz4=);
}
.alkali {
  background-color: rgba(255, 50, 50, 0.25);
}
.alkaliearth {
  background-color: rgba(255, 127, 50, 0.25);
}
.noblegas {
  background-color: rgba(255, 70, 255, 0.25);
}
.halogens {
  background-color: rgba(160, 70, 255, 0.25);
}
.nonmetals {
  background-color: rgba(80, 80, 255, 0.25);
}
.metalloids {
  background-color: rgba(0, 255, 255, 0.25);
}
.transitionmetal {
  background-color: rgba(255, 255, 70, 0.25);
}
.posttransition {
  background-color: rgba(80, 255, 80, 0.25);
}
.lanthanides {
  background-color: rgba(255, 210, 55, 0.25);
}
.actinides {
  background-color: rgba(170, 255, 55, 0.25);
}

/*Fades in*/
@keyframes fadeinelement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeinelement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeinelement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Fades out*/
@keyframes fadeoutelement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeoutelement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeoutelement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.hide {
  -webkit-animation: ease fadeoutelement 1.2s;
  -moz-animation: ease fadeoutelement 1.2s;
  animation: ease fadeoutelement 1.2s;
}
.show {
  -webkit-animation: ease fadeinelement 1.2s;
  -moz-animation: ease fadeinelement 1.2s;
  animation: ease fadeinelement 1.2s;
}

/*Fades in*/
@keyframes fadeinbottompane {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 25vh;
  }
}
@-webkit-keyframes fadeinbottompane {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 25vh;
  }
}
@-moz-keyframes fadeinbottompane {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 25vh;
  }
}

/*Fades out*/
@keyframes fadeoutbottompane {
  from {
    opacity: 1;
    height: 25vh;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
@-webkit-keyframes fadeoutbottompane {
  from {
    opacity: 1;
    height: 25vh;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
@-moz-keyframes fadeoutbottompane {
  from {
    opacity: 1;
    height: 25vh;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
.hidebottompane {
  -webkit-animation: ease fadeoutbottompane 2s;
  -moz-animation: ease fadeoutbottompane 2s;
  animation: ease fadeoutbottompane 2s;
}
.showbottompane {
  -webkit-animation: ease fadeinbottompane 2s;
  -moz-animation: ease fadeinbottompane 2s;
  animation: ease fadeinbottompane 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Media query */
@media screen and (max-width:1000px), screen and (max-height:550px) {
  .elementmass, .elementname, .elementnumber {
    display: none;
  }
  .elementsymbol {
    margin: 0 auto;
    padding: 10px 0;
  }
}
